.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}

.formControl label {
    margin-bottom: .6em;
    font-weight: bold;
}

.formControl input {
    padding: .7em;
    border-radius: 5px;
    border: 1px solid #000;
}

.formControl input::placeholder {
    color: #7b7b7b;
    font-size: 13px;
}