.btn {
  background-color: rgb(88, 143, 83);
  color: #fff;
  padding: 0.5em;
  border: 0;
  height: 39px;
}

.btn:hover {
  transition: 0.5s;
  background-color: rgb(141, 221, 161);
  cursor: pointer;
}
