.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.showTeamErrorClass {
  height: 4rem;
  border: 1px solid red;
  background-color: #ee6262;
  margin: 1rem 0;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showTeamErrorClass p {
  text-align: center;
  margin: auto 0;
}

.formContainer {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .formContainer {
    width: 60%;
  }
}

@media (min-width: 991px) {
  .formContainer {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .formContainer {
    width: 40%;
  }
}
