.calendarioContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.calendarioContainer h1 {
    font-size: 2rem;
}

.byeContainer {
    margin-top: 1rem;
}

.bye {
    font-weight: bold;
}

.calendarioGrid {
    width: 100%;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    margin-top: 1rem;
}

.loadingPlace {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 15rem;
}



@media(min-width: 768px) {
    .calendarioGrid {
        grid-template-columns: 1fr 1fr;  
    }
}

@media(min-width: 992px) {
    .calendarioContainer {
        margin: 1.5rem 0rem;
    }
    
    .calendarioGrid {
        grid-template-columns: 1fr 1fr 1fr;  
    }
}

@media(min-width: 1300px) {
    .calendarioGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;  
    }
}






