.newsListContainer {
  margin: 3rem;
}
.newsListContainer h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.newsListContainer h4 {
  font-size: 17px;
  color: #000;
}

.newsListContainer h4:hover {
  color: rgb(4, 54, 9);
  transition: 0.5s;
  cursor: pointer;
}

.listItem {
  margin-bottom: 1.5rem;
}

.listItem p {
  font-weight: bold;
  display: inline;
}

.loaderPlace {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  height: 100vh;
}
