.smallNewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 352px;
  height: 100%;
  margin-bottom: 1rem;
}

.imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 352px;
  height: 234px;
}

.smallNewsContainer h3 {
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: #000;
}

.smallNewsContainer h3:hover {
  color: rgb(4, 54, 9);
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .smallNewsContainer {
    width: 18rem;
  }

  .imgContainer img {
    width: 288px;
    max-height: 192px;
  }
}
